run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
